
*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
    font-family: 'Inter', Arial, sans-serif;
}


.tic-tac-toe--button:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.select-game--button:hover {
    background-color: lightgrey;
}

.select-game--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 1024px) {
  .select-game--grid {
    grid-template-columns: repeat(3, 1fr);
  }
}