table {
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    border: 1px solid #ddd;
    height: 50px;
    width: 50px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
