.grid {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 30vw;
    height: 60vh;
}

.box {
    /* update to make look like sticks*/
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

h3 {
    margin-top: 0;
}

@media (max-width: 400px) {
    .grid {
        width: 80vw;
        height: 40vh;
    }
    .box {
        font-size: 40px;
    }
}

.box--right {
    border-right: 2px solid black;
}
.box--bottom {
    border-bottom: 2px solid black;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
